<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <connectionStrings>
        <add connectionString="server=localhost;uid=kinglandDaUhrux;pwd=juh*5:fyp@_+;Database=kinglandDatabase" name="kinglandDatabase" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>