@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h4 style="margin-left:50px">Tax Withholding</h4>
        <div width="635px">
	        <center><b>Please print off this form, fill it out, and bring it in on your first day.</b></center>
	        <object style="height:950px" width="100%"  name="W-4" src="documents/W4.pdf" type="application/pdf">
		
	        </object>
	        <form method="post" action="handlers/w4handler.cshtml" id="w4Form" style="margin-left:80px;width:625px"> 
	        <a style="margin-left:50px;font-size:14px;" href="start.cshtml?form=6"> Back </a>
	        <a style="margin-left:600px;font-size:14px;cursor: pointer; cursor: hand;" onClick="document.getElementById('w4Form').submit();" > Next </a>
	        </form>
        </div>        
    </body>
</html>
