@{
    //Establish this user
    var user = Session["user"];
    
    //Connect to database
    var db = Database.Open("kinglandDatabase");

    //Query to grab all Additional Information 
    var bckFill = db.QuerySingle("SELECT * FROM techAgree WHERE user = @0", user);      
}    

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h4 style='margin-left:50px'><a href='#' onClick='showTechAgree()'>Employee Technology Agreement</a></h4>
			<form method='post' action='handlers/form6handler.cshtml' id='form6' style='margin-left:80px;width:625px'>
				<p style='text-indent:15px'>
					As consideration for my employment or continuing employment in any capacity with Kingland 
					Systems Corporation ('KSC'), and as consideration for the salary, wages or other 
					compensation paid for my services during my employment (as identified in Exhibit 
					A to this Agreement, as amended from time to time):

					<ol>
						<li>
							I agree to promptly inform KSC of the full details of all my inventions, discoveries, 
							concepts, and ideas (collectively called 'Developments'), whether patentable or not 
							including but not limited to:  hardware and apparatus, processes and methods, formulae, 
							computer programs and techniques, as well as any improvements and related knowledge, 
							which I conceive, complete, or reduce to practice (whether alone or jointly with others) 
							during my employment by KSC, Kingland Companies, Ltd. (the holding company of KSC), 
							Kingland Capital Corporation, or any of their subsidiaries or affiliates 
							(collectively the 'Company') (including those occurring prior to the date hereof) and
							<ul>
								<li>	which relate to the past, present or prospective business, work or investigations of 
									the Company, or </li>

								<li>	which result from any work I do using any equipment, facilities, materials or 
									personnel of the Company, or </li>
				 
								<li>	which result from or are suggested by any work which I may do for the Company. </li>
							</ul>
								I also agree that all Developments described in the preceding paragraph are 
								'works for hire' within the meaning of the U.S. copyright laws 
								(17 U.S.C. Section 201(b)) and equivalent provisions of foreign laws.
						</li></br>
					
					<li>	I agree to assign, and I do assign, to the Company or the Company's designee, my entire right
						, title and interest (including all moral rights) in
						<ul>
							<li>
								all Developments,
							</li>

							<li>
								all trademarks, copyrights and mask work rights in Developments, and
							</li>

							<li>
								all patent applications filed and patents granted on any Developments, 
								including those in foreign countries, which I conceive or make or have 
								conceived or made (whether alone or with others) during my employment by 
								the Company or within one year of the end of my employment (if conceived as a result of my employment).
							</li>
						</ul>
					</li></br>
					
					<li>
						Both while employed by the Company and afterwards, I agree to execute any papers that the 
						Company may consider necessary or helpful to obtain or maintain patents, trademarks, 
						copyrights or other similar property rights, whether during the prosecution of applications 
						or during the conduct of an interference, litigation, or other matter (all related expenses 
						to be borne by the Company).
					</li></br>

					<li>
						I agree not to use or disclose (except as my Company duties may require) any of the 
						Company's Confidential Information (whether or not conceived, originated, discovered, 
						or developed by me), either within or outside the Company, unless the Company consents 
						in writing.  I understand that this obligation remains with me even after my employment 
						with the Company ends.
						<ul>
							<li>
								I understand that 'Confidential Information' means information or material:
							</li>
								<ol>
									<li>	which is not generally available to or used by persons other than the Company
										, or
									</li>

									<li>
										the utility or value of which is not generally known or recognized as 
										standard practice outside the Company, whether or not the underlying details 
										are in the public domain.
									</li>
								</ol>
							<li>
								I understand that Confidential Information includes:
							</li>
								<ol>
									<li>	
										information or materials which relate to the Company's inventions, 
										technological developments, 'know-how,' purchasing, accounting, 
										merchandising, or licensing;
									</li>
										
									<li>	
										trade secrets as defined in the Iowa Uniform Trade Secrets Act, 
										Iowa Code Chapter 550, or its successors, which I accept as an 
										appropriate statement of law,
									</li>
										
									<li>
										software in various stages of development (source code, object 
										code, documentation, diagrams, flow charts), designs, drawings, 
										specifications, models, data,
									</li>

									<li>
										customer lists and information,
									</li>

									<li>
										information not generally known about the Company relating to research, 
										development, manufacture, purchase, accounting, engineering, marketing, 
										selling or other business aspects of the Company, whether or not 
										constituting a 'trade secret', and
									</li>

									<li>
										any information of the type described above which the Company obtained from 
										another party and which the Company treats as proprietary or designates as 
										confidential, whether or not owned or developed by the Company.
									</li>
								</ol>
							</ul>
					</li></br>

					<li>
						I agree that during the term of my employment I will not engage in part-time or 
						'moonlighting' employment or business (including independent contract work) in the 
						computer hardware or software sales or development fields.  I will disclose to the 
						Company in advance any proposed employment or business (including independent contract 
						work) I accept outside of the Company during the term of my employment by the Company 
						and for one year thereafter.
					</li></br>

					<li>
						I agree to deliver to the Company, on the date my employment ends (or promptly upon request 
						at any time), all documents and things in my possession pertaining to the business of the 
						Company, including, but not limited to, Confidential Information.  If documents and things 
						pertaining to the business of the Company or originating with the Company come into my 
						possession after my employment ends, I will promptly deliver them to the Company without any 
						requirement for a request by the Company.
					</li></br>

					<li>
						I agree, for one year following the end of my employment with the Company, not to engage in 
						or contribute my knowledge to any work which is competitive with or similar to a product, 
						process, apparatus or service on which I worked while at the Company at any time during 
						the period of my employment.
					</li></br>

					<li>
						I will not remove any of the records of the Company or any portion of such records, including 
						the names and addresses of the Company's customers, from the Company's premises, either in 
						original form or in duplicated, copied or electronic, magnetic or optical media form, or 
						transmit or disclose any facts contained in such records, except in the ordinary course of 
						conducting business for the Company.
					</li></br>

					<li>
						I agree that, during the term of my employment with the Company and after the termination of 
						such employment, whether voluntary or involuntary and whether with or without cause, I will 
						not directly or indirectly induce or attempt to induce any employee of the Company or any 
						person having an agreement with the Company to terminate its employment or agreement with the
						Company.
					</li></br>

					<li>
						I agree that, during the term of my employment with the Company and for one year thereafter, 
						I will not notify any customer of the Company that I am anticipating, or have decided to, 
						accept employment from any other business in the computer hardware or software industry, or 
						directly or indirectly solicit or aid in the solicitation of any customers of the Company 
						with whom I shall have had any dealings whatsoever during the term of my employment with the 
						Company.
					</li></br>

					<li>
						I represent that, except as I have disclosed in Exhibit B to this Agreement, I have no 
						agreements with or obligations to other concerning any Developments or Confidential 
						Information, nor do I have any agreements or obligations that might conflict with this 
						Agreement.
					</li></br>

					<li>
						I understand that this Agreement constitutes the complete understanding between the 
						Company and me on the subject matter of this Agreement and that this Agreement supersedes 
						all prior representations and understandings, whether oral or written.
					</li></br>

					<li>
						I agree that my obligations under this Agreement are binding upon my heirs, executors, 
						administrators, or other legal representatives or assigns, and that this Agreement is for 
						the benefit of (and may be enforced by) the Company and its successors and assigns.
					</li></br>

					<li>
						I understand that the Company's rights and obligations under this Agreement may not be 
						changed, modified, released, discharged, abandoned or otherwise terminated, in whole or 
						in part, except in writing, signed by an authorized officer of the Company and me..
					</li></br>

					<li>
						When my employment with the Company ends, I will, if requested by the Company, reaffirm 
						my obligations described in paragraph 1 of this Agreement, including my understanding of 
						the importance of keeping confidential the Company's Confidential Information.
					</li></br>

					<li>
						I agree that the Company shall be entitled to an injunction to enforce the covenants and
						agreements contained in this Agreement and that the Company's remedy at law for any breach
						by me of such covenants and agreements will be inadequate, but I also agree that this 
						shall not in any way be construed as waiving any remedy at law the Company may have for 
						such breach.
					</li></br>

					<li>
						I understand that each of the separate covenants and agreements contained in this Agreement 
						is severable and separate and that the unenforceability of any specific covenant or 
						agreement contained herein will not affect the validity of any other covenant or agreement.  
						I further agree that, should it be determined by a court of competent jurisdiction (or 
						any other authority having jurisdiction of a dispute or proceeding hereunder) that any 
						covenant or agreement contained herein is unenforceable as written, such covenant or 
						agreement shall be deemed modified to the minimum extent determined necessary by such court 
						or other authority to make such covenant or agreement enforceable, and such court or other 
						authority shall enforce such covenant or agreement as so modified.
					</li></br>

					<li>
						I agree that nothing contained in this Agreement constitutes a promise or representation by 
						the Company that my employment will continue for any period of time or in any other way 
						affect the Company's right to terminate, or change the terms or conditions of, my employment 
						at any time for any reason.  The Company may terminate, or change the terms or conditions of, 
						my employment at any time and for any reason.
					</li></br>

					<li>
						This Agreement shall be governed by and construed in accordance with the laws of the state of 
						Iowa (without regard to any choice of law principles).
					</li></br>

					<li>
						In the event either party to this Agreement incurs any attorney fees, costs or expenses 
						relating to any breach of this Agreement (including attorney fees, costs and expenses in any 
						legal action), the prevailing party shall be entitled to such reasonable fees, costs or 
						expenses.</br></br>
						
						EXHIBIT A
						EMPLOYEE COMPENSATION
						<ul>
							<li>
								Base Salary.  To be agreed from time to time between Employee and the Company.  
							</li>

							<li>
								Fringe Benefits.  To be agreed by Employee and the Company from time to time.
							</li>
						</ul>
					</li>
					</ol>
				</p>
				
				<p>
				    <input type='checkbox' name='agree' id='agreeEmployeeTech' value='agree' @if (@bckFill.agree == "agree"){<text>checked</text>}> I have read and agree to the Technolgy Agreement.
				</p>
															
				<p> 
					Signature:</br>
					<input style='width:378px;' type='text' name='signature' id='signedEmployeeTech' value = '@bckFill.signature'>
				</p>
				
					<a style='font-size:14px;' href='start.cshtml?form=5'> Back </a>
					<a style='margin-left:520px;font-size:14px;cursor: pointer; cursor: hand;' onClick='validateTechAgreement()' > Next </a>
			</form>
    </body>
</html>
