@{
    //Establish this user
    var user = Session["user"];
    
    //Connect to database
    var db = Database.Open("kinglandDatabase");

    //Query to grab all Additional Information 
    var bckFill = db.QuerySingle("SELECT * FROM safeHarbor WHERE user = @0", user);      
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h4 style="margin-left:50px"><a href="documents/KSC_SAFEHARBOR.ppt">Safe Harbor Document</a></h4>
			<form method="post" action="handlers/form5handler.cshtml" id="form5" style="margin-left:80px;width:625px">
				<h4>Employee Acknowledgement for Safe Harbor</h4>
				<p>I am aware that Kingland Systems Corp. is designated as a Safe harbor site under the U.S. Department of Commerce Safe Harbor Program.
				I understand that this designation requires my compliance with certain security requirements and data privacy responsibilities to protect information processed by Kingland Systems Corp.
				I have receieved training and/or information about the Safe Harbor program, and its principles, and I understand my responsibilities with respect to the principles under this program.</p>
				
				<p><input type='checkbox'  id='agreeSafeHarbor' name='agree' value='agree' @if(@bckFill.agree == "agree") {<text>checked</text>}>I have read and agree with the receipt. &nbsp;&nbsp;</p>

				<p>*Signature</br><input type="text" name="signature" value= "@bckFill.signature"  id="signedSafeHarbor"></p>
				
						<a style="font-size:14px;" href="start.cshtml?form=4"> Back </a>
						<a style="margin-left:520px;font-size:14px;cursor: pointer; cursor: hand;" onClick="validateSafeHarbor()" > Next </a>
			</form>
    </body>
</html>
